<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
  <meta name="viewport" content="user-scalable=no, width=device-width" />
</head>

<body class="mobile">
<div id="wrapper">
  <div id="clicker-page">
    <div id="undo-bar">
      <div class="container">
        <div class="message">In: 0, Out: 0</div>
        <div class="controls">
          <a id="undo-button" href="#">Undo</a>
        </div>
        <hr class="clear-bar" />
      </div>
    </div> <!-- /undo-bar -->

    <div id="counters">
      <div id="in-counter" class="counter minor first">
        <div class="label">In</div>
        <div class="number">0</div>
      </div>
      <div id="total-counter" class="counter major">
        <div class="label">Total</div>
        <div class="number">0</div>
        <div class="capacity">Capacity: <span class="value">550</span></div>
      </div>
      <div id="out-counter" class="counter minor last">
        <div class="label">Out</div>
        <div class="number">0</div>
      </div>
    </div> <!-- /counters -->

    <div class="carousel">
      <ol class="panels">
        <!-- clickers -->
        <li class="default">
          <div class="row">
            <a id="add-1-button" class="button green"><span class="content">+1</span></a>
            <a id="sub-1-button" class="button red"><span class="content">-1</span></a>
          </div>
          <div class="row">
            <a id="add-2-button" class="button green"><span class="content">+2</span></a>
            <a id="sub-2-button" class="button red"><span class="content">-2</span></a>
          </div>
          <div class="row">
            <a id="add-4-button" class="button green"><span class="content">+4</span></a>
            <a id="sub-4-button" class="button red"><span class="content">-4</span></a>
          </div>
        </li>
        <!-- phone numbers -->
        <li>
          <div class="phone-numbers">
            <div class="row header">
              <div class="name">Name</div>
              <div class="phone">Phone #</div>
              <hr class="clear-bar" />
            </div>
            <div class="row">
              <div class="name">HUPD</div>
              <div class="phone">617-123-4567</div>
              <hr class="clear-bar" />
            </div>
            <div class="row last">
              <div class="name">Fire Department</div>
              <div class="phone">911</div>
              <hr class="clear-bar" />
            </div>
          </div>
        </li>
        <!-- overview -->
        <li>
          Overview page.
        </li>
      </ol> <!-- /panels -->
    
      <dv class="buttons">
        <ol class="links">
          <li><a href="#">Clicker</a></li>
          <li><a href="#">Phone Numbers</a></li>
          <li><a href="#">Overview</a></li>
        </ol>
        <hr class="active-indicator" />
      </div>
    </div>

    <!--
    <div class="messages">
      <div id="messages">
        <span class="default">No messages</span>
      </div>
      <div id="help-button"><a href="#" class="content">Help</span></div>
      <hr class="clear-bar"/>
    </div>
    -->
  </div> <!-- /clicker-page -->
  <div id="positions-page">
    <div class="description">Please select your position:</div>
  </div>
</div> <!-- /wrapper -->

<div id="loading-screen">
  <div class="background"></div>
  <div class="message">You must have javascript enabled</div>
</div>
</body>
</html>