<!DOCTYPE html>
</html>
<head>
</head>

<body>
<div id="wrapper">
  <form method="POST" action="/">
    <div class="form-element">
      <label for="event">Event</label>
      <input id="event" type="text" name="event" />
    </div>
    <div class="form-element">
      <label for="position">Position</label>
      <input id="position" type="text" name="position" />
    </div>
    <div class="form-element">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </div>
    <input type="submit" name="login" value="Login" />
  </form>
</div>
</body>
</html>