* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}
input, textarea {
	-webkit-user-select: text;
	outline: none;
}

ul,ol,dl,li,dd,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
ul,ol {
	list-style-type: none;
}

a:link, a:visited {
	text-decoration: none;
}
a:active {
  color: red;
}
.clear-bar {
	clear: both;
	height: 0px;
	width: 0px;
	border: none;
}
fieldset {
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: -6px;
	width: 600px;
}
legend {
	color: #666;
	font-family: Gill Sans;
	font-weight: 100;
	font-variant: small-caps;
}
fieldset .description {
	color: #666;
	font-size: 12px;
	margin-bottom: 5px;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

.mobile #wrapper {
	text-align: center;
}

#undo-bar {
	height: 30px;
}
#undo-bar .container {
	background-color: #fffde1;
	border: 1px solid #bfbea9;
	border-top: none;
	margin: 0px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 2px 10px;
	margin-bottom: 5px;
}
#undo-bar .message {
	float: left;
}
#undo-bar .controls {
	float: right;
}


#counters {
	margin-bottom: 10px;
}
.counter {
	display: inline-block;
	vertical-align: top;
	padding: 0px 5px;
}
.counter.first,
.counter.last {
	padding: 0px;
}
.counter.minor {
	width: 50px;
}
.counter.major {
	width: 150px;
}
.counter .label {
	color: #999;
	font-size: 20px;
	font-weight: bold;
	text-transform: lowercase;
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
}
.counter.minor .number {
	font-size: 20px;
}
.counter.major .number {
	font-weight: bold;
	font-size: 45px;
	margin: 0px;
	padding: 0px;
	line-height: 34px;
}
.counter.close {
	color: #e88040;
}
.counter.over {
	color: #e84040;
}
.counter .capacity {
	margin-top: 5px;
	color: #CCC;
	text-transform: lowercase;
}


.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 10px;
	font-weight: bold;
	width: 120px;
	margin: 4px 10px;
	padding: 7px 0px;
	-webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.4), 0px 1px 0px rgba(0,0,0,0.7);
	text-shadow: 0px 1px 0px #EEE;
}
.button:active {
	-webkit-box-shadow: inset 0px 0px 10px #000;
	border-color: #000;
}
.button.red {
	color: #a40f0f;
	border-color: #b85557;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.0, #e94a4d), color-stop(0, #e97779));
	text-shadow: 0px 1px 0px #f19799;
}
.button.red:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e94a4d), color-stop(1.0, #e97779));
	border-color: #000;
}
.button.green {
	color: #0a732c;
	border-color: #15a545;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.0, #15a545), color-stop(0, #7fe4a1));
	text-shadow: 0px 1px 0px #66ef94;
}
.button.green:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #15a545), color-stop(1.0, #7fe4a1));
	border-color: #000;
}

/*
.messages {
  padding-left: 60px;
	text-align: left;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #333;
}
#help-button {
  position: relative;
	float: left;
	width: 60px;
	right: 60px;
	margin-left: -100%;
}
#help-button .content {
	display: block;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.0, #e94a4d), color-stop(0, #e97779));
	-webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.4);
	font-size: 19px;
	font-weight: bold;
	padding: 3px 0px 5px 0px;
	text-align: center;
	text-shadow: 0px 1px 1px #f19799;
	color: #780204;
	border-right: 1px solid #666;
}
#messages {
	float: left;
	position: relative;
	width: 100%;
	
	overflow: hidden;
	height: 30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1.0, #333));
}
#messages .default {
	padding: 6px 6px;
	display: block;
	width: 3000px;
	color: #BBB;
	text-shadow: 0px -1px #222;
	font-style: italic;
}
*/
#test {
	color: #f19799;
}

.phone-numbers {
	display: inline-block;
}
.phone-numbers .row {
	padding: 0px 5px;
	white-space: nowrap;
	margin: 3px 0px;
	border-bottom: 1px solid #DDD;
}
.phone-numbers .row.last {
	border-bottom: none;
}
.phone-numbers .header {
	font-weight: bold;
	border-bottom: 2px solid #000;
}
.phone-numbers .row .name,
.phone-numbers .row .phone {
	display: inline-block;
}
.phone-numbers .row .name {
	float: left;
	margin-right: 15px;
}
.phone-numbers .row .phone {
	float: right;
}


.carousel {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	
}
.carousel > .panels {
	display: block;
	position: relative;
	-webkit-transition-property: left;
	-webkit-transition-duration: 1s;
}
.carousel > .panels > li {
	vertical-align: top;
	display: inline-block;
	width: 100%;
}
.carousel > .buttons {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
}
.carousel > .buttons > .links > li {
	display: inline-block;
	margin: 10px 6px 0px;
}
.carousel > .buttons > .links > li a {
	color: #000;
}
.carousel .active-indicator {
	float: left;
	border: none;
	border-bottom: 2px solid #000;
	width: 0px;
	position: relative;
	margin: 0;
}

#loading-screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
#loading-screen .background {
	position: absolute;
	background-color: #333;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}
#loading-screen .message {
	position: relative;
	display: block;
	text-align: center;
	margin: 20px 10px;
	font-size: 30px;
	font-weight: bold;
	color: #EEE;
	text-shadow: 0px 1px 0px #000;
}

.desktop {
	background-image: url('../images/soft_wallpaper.png');
}
.desktop #wrapper {
	margin: 5px 10px;
	border-radius: 5px;
}
#header .separator {
	border: none;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #FAFAFA;
	margin: 0;
}
#title {
	text-shadow: 0px 1px 0px #FFF;
	color: #361025;
}
.heavy {
	font-weight: bold;
}
.light {
	font-weight: normal;
}
#content {
	margin-top: 5px;
	padding: 10px 15px;
	background-color: rgba(255,255,255,0.6);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
}

.form-element {
	margin-bottom: 10px;
}
.form-element label {
	font-family: Gill Sans;
	font-variant: small-caps;
	color: #333;
	display: block;
	font-size: 16px;
}
.form-element input[type=text],
.form-element input[type=password],
.form-element textarea {
	border: 1px solid #999;
	border-radius: 3px;
	font-size: 14px;
	padding: 2px;
	width: 200px;
}
.form-element textarea {
	width: 500px;
	padding: 5px;
}
.form-element input[type=text]:focus,
.form-element input[type=password]:focus,
.form-element textarea:focus {
	border: 2px solid #666;
	padding: 1px;
}
.form-element textarea:focus {
	padding: 4px;
}
form input[type=submit] {
	font-size: 16px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1.0, #DDD));
	border: 1px solid #CCC;
	border-radius: 3px;
}
.form-element .help {
	color: #999;
	font-size: 12px;
	padding-left: 6px;
}


.form-errors {
	padding: 3px 5px;
	background-color: #ffdfe0;
	color: #7e0002;
	border: 1px solid #7e0002;
	border-radius: 3px;
	margin-bottom: 10px;
}

.section {
	width: 600px;
}
.section-head {
	color: #666;
	font-weight: 200;
	padding-left: 5px;
	margin-bottom: 10px;
}

.event .event-display {
	display: block;
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 530px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1.0, #DDD));
	text-shadow: 0px 1px 0px #EEE;
	color: #333;
}
.event .event-display:hover {
	padding: 4px;
	border: 2px solid #AAA;
}
.event .links {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 6px;
}
.event .left {
	float: left;
}
.event .right {
	float: right;
}
.event .title {
	font-weight: bold;
	display: inline-block;
}
.event .counter {
	display: inline-block;
	font-size: 31px;
	font-weight: bold;
}
.event .date {
	color: #666;
	font-size: 13px;
	margin-top: 3px;
}

.user {
	float: right;
}